.thumbnail-5b8b450c1677680c0acc-icon1 {
  position: absolute;
  top: 178px;
  left: 0;
  width: 1560px;
  height: 706px;
  object-fit: cover;
  opacity: 0.25;
}
.group-child7 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #200aa6;
  width: 213.68px;
  height: 49px;
}
.get-started {
  position: absolute;
  top: 8px;
  left: 23.13px;
  display: inline-block;
  width: 195.87px;
}
.rectangle-parent6 {
  position: absolute;
  top: 637px;
  left: 614px;
  width: 219px;
  height: 49px;
  font-size: var(--font-size-10xl);
  color: #00ffd1;
}
.group-child8 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-aquamarine-100);
  width: 196px;
  height: 49px;
}
.learn-more {
  position: absolute;
  top: 11px;
  left: 11.98px;
  display: inline-block;
  width: 181.84px;
  height: 35px;
}
.rectangle-parent7 {
  position: absolute;
  top: 637px;
  left: 332px;
  width: 196px;
  height: 49px;
  font-size: var(--font-size-10xl);
  color: var(--color-black);
}
.safeguard-your-secrets1,
.unlock-the-power {
  position: absolute;
  left: 76px;
  display: inline-block;
}
.unlock-the-power {
  top: 379px;
  font-size: 50px;
  width: 1304px;
  height: 99px;
}
.safeguard-your-secrets1 {
  top: 481px;
  font-size: var(--font-size-13xl);
  width: 1281px;
  height: 119px;
}
.image-1-icon,
.image-2-icon {
  position: absolute;
  top: 918px;
  left: 112px;
  width: 540px;
  height: 400px;
  object-fit: cover;
}
.image-2-icon {
  left: 762px;
}
.protecting-your-privacy,
.welcome-to-encryptia1 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 532px;
  height: 76px;
}
.protecting-your-privacy {
  top: 102px;
  left: 4px;
  width: 528px;
  height: 179px;
}
.welcome-to-encryptia-our-secur-parent {
  position: absolute;
  top: 1340px;
  left: 120px;
  width: 532px;
  height: 281px;
}
.at-our-platform,
.your-privacy-matters {
  position: absolute;
  top: 1340px;
  left: 764px;
  display: inline-block;
  width: 538px;
  height: 53px;
}
.at-our-platform {
  top: 1427px;
  left: 761px;
  width: 541px;
  height: 210px;
}
.group-child9 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-midnightblue-200);
  width: 1440px;
  height: 148px;
}
.blog2 {
  position: absolute;
  top: 44px;
  left: 629px;
  display: inline-block;
  width: 150px;
  height: 39px;
}
.span1 {
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
}
.about2,
.home3 {
  position: absolute;
  top: 44px;
  left: 466px;
  display: inline-block;
  width: 150px;
  height: 39px;
}
.home3 {
  left: 316px;
}
.encryptia6 {
  position: absolute;
  top: 9.5px;
  left: 39px;
}
.group-wrapper,
.vector-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 49px;
}
.group-wrapper {
  top: 25px;
  left: 1200px;
  color: var(--color-black);
}
.dreamshaper-v5-a-logo-for-an-e-icon6 {
  position: absolute;
  top: 0;
  left: 99px;
  width: 172px;
  height: 137px;
  object-fit: cover;
}
.rectangle-parent8 {
  position: absolute;
  top: 41px;
  left: 0;
  width: 1440px;
  height: 148px;
  color: var(--color-whitesmoke);
}
.group-child11 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-midnightblue-100);
  width: 1461px;
  height: 144px;
}
.dreamshaper-v5-a-logo-for-an-e-icon7 {
  position: absolute;
  top: 3px;
  left: 616px;
  width: 172px;
  height: 137px;
  object-fit: cover;
}
.encryptia7 {
  margin: 0;
}
.encryptia-all-rights-container3 {
  position: absolute;
  top: 25px;
  left: 1118px;
  display: inline-block;
  width: 462px;
  height: 109px;
}
.rectangle-parent9 {
  position: absolute;
  top: 1646px;
  left: 0;
  width: 1580px;
  height: 144px;
  font-size: var(--font-size-base);
}
.desktop-1 {
  position: relative;
  background-color: var(--color-midnightblue-200);
  width: 100%;
  height: 1790px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inria-sans);
}
a{
  text-decoration: none;
  color: #F5F5F5;
font-family: Inria Sans;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.a-learn{
  text-decoration: none;
  color: #000;
font-family: Inria Sans;
font-size: 29px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.a-getstarted{
  text-decoration: none;
  color: #00FFD1;
font-family: Inria Sans;
font-size: 29px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
