<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/about.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inria Sans:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="desktop-3">
      <div class="group-div">
        <div class="rectangle-div"></div>
        <b class="blog"><a href="{{url_for('blog')}}">BLOG</a></b>
        <b class="home1"><a href="{{url_for('home')}}">HOME</a></b>
        <div class="vector-parent">
          <img class="rectangle-icon" alt="" src="/static/rectangle-2.svg" />

          <b class="encryptia2">Encryptia</b>
        </div>
        <img
          class="dreamshaper-v5-a-logo-for-an-e-icon2"
          alt=""
          src="/static/dreamshaper-v5-a-logo-for-an-encryption-app-with-a-dark-blue-b-2-1@2x.png"
        />
      </div>
      <img
        class="thumbnail-5b8b450c1677680c0acc-icon"
        alt=""
        src="/static/thumbnail5b8b450c1677680c0accc91fa88bb1f2-2@2x.png"
      />

      <div class="blowfish-parent">
        <b class="blowfish">Blowfish</b>
        <b class="symmetric-key-algorithm-with"
          >Symmetric-key algorithm with fast encryption and flexibility. Works
          on variable-length blocks, employing a Feistel network structure
          combined with key-dependent S-boxes for encryption and decryption.</b
        >
      </div>
      <div class="aes-advanced-encryption-stand-parent">
        <b class="blowfish">AES (Advanced Encryption Standard):</b>
        <b class="symmetric-key-algorithm-with"
          >Symmetric-key algorithm for secure data transmission. Operates on
          fixed-size blocks of data using a series of substitution, permutation,
          and mixing operations.</b
        >
      </div>
      <div class="rsa-rivest-shamir-adleman-parent">
        <b class="blowfish">RSA (Rivest-Shamir-Adleman)</b>
        <b class="symmetric-key-algorithm-with"
          >Asymmetric-key algorithm for encryption and digital signatures. Uses
          the difficulty of factoring large numbers into prime factors as the
          basis for its security.</b
        >
      </div>
      <img
        class="hd-wallpaper-3d-neon-blue-lock-icon"
        alt=""
        src="/static/hdwallpaper3dneonbluelockcomputersecuritydigitaltechnologybluedigitalbackgroundbluesecuritybackgroundlockconcepts-1@2x.png"
      />

      <img
        class="hd-wallpaper-3d-blue-padlock-c-icon"
        alt=""
        src="/static/hdwallpaper3dbluepadlockcomputersecurityencryption3dlocksecuritybluebackgrounddigitalsecuritytechnologysecurityconcepts-1@2x.png"
      />

      <b class="welcome-to-encryptia-container">
        <p class="welcome-to-encryptia">Welcome to Encryptia</p>
        <p class="your-trusted-destination">&nbsp;</p>
        <p class="your-trusted-destination">
          your trusted destination for cutting-edge message encryption
          solutions. We are passionate about protecting your privacy and
          empowering you with the tools to communicate securely in an
          increasingly digital world. At Encryptia, we believe that privacy is a
          fundamental right, and we are committed to delivering innovative
          encryption technologies that keep your sensitive information safe from
          prying eyes.
        </p>
      </b>
      <img
        class="hd-wallpaper-blue-3d-chip-tech-icon"
        alt=""
        src="/static/hdwallpaperblue3dchiptechnologyconcepts3dartmicrochipmotherboardchipdigitaltechnologycircuitboard-1@2x.png"
      />

      <div class="rectangle-parent1">
        <div class="group-child1"></div>
        <img
          class="dreamshaper-v5-a-logo-for-an-e-icon3"
          alt=""
          src="/static/dreamshaper-v5-a-logo-for-an-encryption-app-with-a-dark-blue-b-2-21@2x.png"
        />

        <b class="encryptia-all-rights-container1">
          <p class="your-trusted-destination">"© 2023 Encryptia.</p>
          <p class="your-trusted-destination">&nbsp;</p>
          <p class="your-trusted-destination">All rights reserved.</p>
          <p class="your-trusted-destination">&nbsp;</p>
          <p class="your-trusted-destination">
            Privacy Policy | Terms of Service | Contact Us
          </p>
        </b>
      </div>
    </div>
  </body>
</html>
