<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/home.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inria Sans:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="desktop-1">
      <img
        class="thumbnail-5b8b450c1677680c0acc-icon1"
        alt=""
        src="/static/thumbnail5b8b450c1677680c0accc91fa88bb1f2-1@2x.png"
      />

      <div class="rectangle-parent6">
        <div class="group-child7"></div>
        <a class="a-getstarted" href="{{url_for('index')}}"><b class="get-started">GET STARTED</b></a>
      </div>
      <div class="rectangle-parent7">
        <div class="group-child8"></div>
        <a class="a-learn" href="{{url_for('about')}}"><b class="learn-more">LEARN MORE</b></a>
      </div>
      <b class="unlock-the-power"
        >Unlock the POWER of encryption with ENCRYPTIA</b
      >
      <b class="safeguard-your-secrets1"
        >Safeguard your secrets and shield your messages from prying eyes. Enter
        your text, select from a range of encryption methods, and witness the
        magic as your information is transformed into an impregnable code.</b
      >
      <img class="image-1-icon" alt="" src="/static/image-1@2x.png" />

      <img class="image-2-icon" alt="" src="/static/image-2@2x.png" />

      <div class="welcome-to-encryptia-our-secur-parent">
        <b class="welcome-to-encryptia1"
          >Welcome to Encryptia our Secure Messaging Platform!</b
        >
        <b class="protecting-your-privacy"
          >Protecting your privacy is our top priority. With our
          state-of-the-art message encryption technology, you can communicate
          securely and confidently, knowing that your sensitive information
          remains confidential.</b
        >
      </div>
      <b class="your-privacy-matters">Your privacy matters to us.</b>
      <b class="at-our-platform"
        >At our platform, we believe that privacy is a fundamental right that
        should be protected. We are committed to ensuring the utmost
        confidentiality and security of your messages.
      </b>
      <div class="rectangle-parent8">
        <div class="group-child9"></div>
        <a   href="{{url_for('blog')}}"><b class="blog2">BLOG</b></a>
        <div class="about2">
          <a href="{{url_for('about')}}"><b>ABOUT</b></a>
          <span class="span1"> </span>
        </div>
        <a href="{{url_for('home')}}"><b class="home3">HOME</b></a>
        <div class="group-wrapper">
          <div class="vector-container">
            <img
              class="vector-container"
              alt=""
              src="/static/rectangle-21.svg"
            />

            <b class="encryptia6">Encryptia</b>
          </div>
        </div>
        <img
          class="dreamshaper-v5-a-logo-for-an-e-icon6"
          alt=""
          src="/static/dreamshaper-v5-a-logo-for-an-encryption-app-with-a-dark-blue-b-2-1@2x.png"
        />
      </div>
      <div class="rectangle-parent9">
        <div class="group-child11"></div>
        <img
          class="dreamshaper-v5-a-logo-for-an-e-icon7"
          alt=""
          src="/static/dreamshaper-v5-a-logo-for-an-encryption-app-with-a-dark-blue-b-2-1@2x.png"
        />

        <b class="encryptia-all-rights-container3">
          <p class="encryptia7">"© 2023 Encryptia.</p>
          <p class="encryptia7">&nbsp;</p>
          <p class="encryptia7">All rights reserved.</p>
          <p class="encryptia7">&nbsp;</p>
          <p class="encryptia7">
            Privacy Policy | Terms of Service | Contact Us
          </p>
        </b>
      </div>
    </div>
  </body>
</html>
