<!DOCTYPE html>
<html>
<head>
    <title>Text Converter</title>
    <link rel="stylesheet" href="/static/index.css">
    <script>
        function clearText() {
            document.querySelector('textarea[name="text"]').value = '';
        }
    </script>
    
</head>
<body>
    <header>
        <img class="logo" src="/static/logo.png" alt="">
        <nav>
            <ul>
              <li class="li-home"><a href="{{url_for('home')}}">Home</a></li>
              <li class="li-about"><a href="{{url_for('about')}}">About</a></li>
              <li class="li-blog"><a href="#">Blog</a></li>
              <li class="li-en"><a href="#"><button class="btn-encryptia">Encryptia</button></a></li>
            </ul>
          </nav>
        
    </header>
    <div class="container">
        <div class="h-text">
            <h2 class="h2-text">Your Privacy, Your Rules - Encryptia has your back </h2>
        <h3 class="h3-text">Safeguard your secrets and shield your messages from prying eyes.<br> 
        Enter your text, select from a range of cutting-edge encryption methods,,<br> and witness the magic as your information is transformed into an impregnable code. </h3>
        </div>
        
    
    <form method="POST" action="{{ url_for('index') }}">
        <div class="center">
            <textarea rows="20" cols="70" name="text" placeholder="Enter your text..."></textarea>    
        </div>
        <div class="btn-container">
            <button class="btn-en" type="submit"  name="aes">AES</button>
            <button class="btn-en" type="submit"  name="rsa">RSA</button>
            <button class="btn-en" type="submit"  name="blowfish"> BLOWFISH</button>
            <input class="btn-en" type="button" value="Clear" onclick="clearText()">
        </div>              
        
    </form>

    <div class="box-container">
        {% if ciphertext %}
        <h2 class="en_center"> </h2>
        <div class="box">
            <p>{{ ciphertext }}</p>
        </div>
        
       
    {% endif %}
    </div>
   
    </div>
    
   
</body>
</html>
